@namespace Wings.Framework.Ui.Ant.Components
@using System.ComponentModel.DataAnnotations
@attribute [ComponentDataType("System.DateTime")]
@attribute [Display(Name = "ant-deisgn日期")]
@inherits AntPropDateTimeBase<TModel>
@typeparam TModel
@if (Value != null)
{
    <span > @Property.GetValue(Value)</span>
}