@namespace Wings.Framework.Ui.Ant.Components

@attribute [ComponentDataType("System.Int32")]
@inherits AntPropNumberBase<TModel>
@typeparam TModel
@if (Value != null)
{
    <span > @Property.GetValue(Value)</span>
}