@namespace Wings.Framework.Ui.Ant.Components
@typeparam TModel
@inherits AntTableViewBase<TModel>

@dynamicSearchBarComponent




<DataSourceManager TModel="TModel" @ref="DataSource"></DataSourceManager>
<div style="margin:5px 0">
    @ToolbarTemplate
</div>
<Table @ref="table" TItem="TModel" OnRow="OnRow" DataSource="@Data" Total="Total" @bind-PageIndex="PageIndex" Size=@TableSize.Middle
    @bind-PageSize="PageSize" SelectedRows="SelectedRows" SelectedRowsChanged="(value)=>OnSelectedRowsChange(value)" >
    <Selection Key="@(typeof(TModel).GetProperty("Id").GetValue(context).ToString())"  />
    @foreach (var item in PropList) 
    {
        <Column Title="@GetPropertyTitle(item)" TData="object">
            <AntDynamicProp TModel="TModel" Value="context" Property="item"></AntDynamicProp>
        </Column>
    }
    <ActionColumn Title="操作">
        
        @ActionColumnTemplate(context)
    </ActionColumn>
</Table>



@if (render)
{
    @if (editType == EditType.Insert)
    {
        @dynamicEditComponent
      
    }
}