@namespace Wings.Framework.Ui.Ant.Components
@inherits DetailViewBase<TModel>
@typeparam TModel

<table>
    <div class="data-table" style="margin-top:20px;">
        <table>
            @for (var i = 0; i < groups; i++)
            {
                <tr>




                    <AntDetailProp TModel="TModel" Value="Value" Property="PropertyList[i*2]"></AntDetailProp>
                    @if (i * 2 + 1 < PropertyList.Count)
                    {

                        <AntDetailProp TModel="TModel" Value="Value" Property="PropertyList[i*2+1]"></AntDetailProp>
                    }
                </tr>
            }

        </table>

    </div>
</table>
@code {
    int groups;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        groups = int.Parse(Math.Ceiling(PropertyList.Count / 2.0).ToString());
        StateHasChanged();
    }
}